@import "badges";

//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  @extend .badge;

  list-style: none;
  width: 0px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(10px);
}
